<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.pestcontrol.app" 
        version="1.0.0">
    
    <name>Control de Plagas</name>
    <description>Aplicación para gestión de servicios de control de plagas</description>
    <author>Empresa Control de Plagas</author>
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
    </platform>
    
    <icon src="icon.png" />
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    
</widget>
